.note-form form .wrapper{
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}
.note-form form .input-note{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid silver;
    outline: none;
}
.note-form form .btn-add{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.note-form form .btn-edit{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}